*{
    color: white;
    padding: 0%;
}

body{
    background-color: black;
}

img{
    height: 200px;
    width: auto;
    margin-top: 50px;
}

a{
    color:rgb(25, 218, 160);
    margin-top: 50px;
}

.inicio{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

button{
    color: black;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    border-style: none;
}

.paginas{
    gap: 10px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button:hover{
    background-color: black;
    color: white;
    border-style: none;
    transition-duration: 0.5s;
}